<%include ./partials/header %>
<h1>login</h1>

<form action="/login" method="POST">
    <label for="username">username:</label>
    <input type="text" name="username" placeholder="username" id="username">
    <label for="password">password:</label>
    <input type="password" placeholder="username" name="password" id="password">
    <button type="submit">Login!</button>
</form>
<!-- 
<li><a href="/login">Login</a></li>
<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">Logout</a></li> -->

<% include ./partials/footer %>
