<%include ./partials/header %>
<h1 style="text-align: center">login</h1>
<div style="width: 30%; margin: 20px auto">
    <form action="/login" method="POST">
        <label for="username">username:</label>
        <input class="form-control" type="text" name="username" placeholder="username" id="username">
        <label for="password">password:</label>
        <input class="form-control" type="password" placeholder="username" name="password" id="password">
        <button class="btn btn-lg btn-default btn-block btn-primary"type="submit">Login!</button>
    </form>
</div>


<% include ./partials/footer %>
